.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.background-flash-appear, .background-flash-enter {
  opacity: 0.001;
}

.background-flash-appear.background-flash-appear-active,  .background-flash-enter.background-flash-enter-active{
  opacity: 1;
  transition: opacity .4s ease-in;
}

.background-flash-leave {
  opacity: 1;
}

.background-flash-leave.background-flash-leave-active {
  opacity: 0.001;
  transition: opacity .4s ease-out;
}
