.dnstable {
  float:right;
  background:green;
  margin-top: 20%;
}

.invisible {
  visibility: hidden;
}

.visible {
}

blink, .blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0 }
}