.dnstable {
  float:right;
  margin-top: 20%;

  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #000000;
}

.invisible {
  visibility: hidden;
}

.visible {
}

blink, .blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0 }
}