.dot {
  position: fixed;
  width: 30px;
  height: 30px;

  border-radius: 30px;
  background-color: #4bc2f1;
}

.dot_container {
  width: 100%;
  height: 100%;
  background-color: #008B8B;
  perspective: 50px;
  -webkit-perspective: 50px;
  -moz-perspective: 50px;
  -ms-perspective: 50px;

  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;

  /*opacity: 0.55;*/
}

.flash_container {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}

.searcRes{
  background-color: gray;
  top: -100;
  position: absolute;
}

/*~~~~~~~~~
Animations
~~~~~~~~~*/
@keyframes flash {
    0% {
        background-color: Red;
    }
    33% {
        background-color: Blue;
    }
    66% {
        background-color: Yellow;
    }
    100% {
        background-color: Red;
    }

}

.flash {
  animation-name: flash;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.line-flash-appear, .line-flash-enter {
  opacity: 0.001;
}

.line-flash-appear.line-flash-appear-active,  .line-flash-enter.line-flash-enter-active{
  opacity: 0.8;
  transition: opacity color .5s ease-out;

}
